{% include "header_inicio.html"%}

<div class="container">
	<div class="jumbotron">

		<form class="form-signin" role="form" method="post" action="../cadastro_usuario/">
			{% csrf_token %}
			<h2 class="form-signin-heading">Dados</h2>
			
			{% if sucess_message %}
				<p><span style="color:green">Usuário Cadastrado com Sucesso!</span></p>
			{% endif %}
			
			<input type="text" class="form-control" placeholder="Primeiro Nome..." required autofocus name="primeiroNome"><br>
			<input type="text" class="form-control" placeholder="Último Nome..." required autofocus name="ultimoNome"><br>
			<input type="text" class="form-control" placeholder="Nome de Usuário..." required autofocus name="nomeUsuario"><br>
			<input type="password" class="form-control" placeholder="Senha..." required autofocus name="senhaUsuario"><br>
			<input type="email" class="form-control" placeholder="Email..." required autofocus name="emailUsuario"><br>
					
			</button> <button type="submit" class="btn btn-primary">Cadastrar</button>
		</form>
	</div>
</div>



{% include "footer.html "%}