		<div id="lgfichamento" class="list-group">
            <a href="#" class="list-group-item active">Meus Fichamentos:</a>
            {% for fic in fichamentos %}
            <div id="lifichamento" class="list-group-item">{{fic.titulo_fichamento}}<a class="btn pull-right btn-default btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            {% endfor %}
            <a class="list-group-item active"></a>
          </div>