{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>	
	</head>
  
  <body>
  
  
<div class="modal fade" id="modal-container-171317" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title" id="myModalLabel">
						Remake SABIA by:
					</h4>
				</div>
				<div class="modal-body">									
					<p> Diener [dienermaickpiske@gmail.com] </p>
					<p> Enza [rafaeladenadai@gmail.com] </p>
					<p> Sabrina [sabrinapanceri@gmail.com] </p><br>					
					<p> Mestrandos UFES </p>
				</div>
				<div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button> 
				</div>
			</div>			
		</div>		
	</div>	
		

	<div id="footer" class="container">
	    <nav class="navbar navbar-inverse navbar-static-bottom">
	        <div class="navbar-inner navbar-content-center">
	            <br><p class="text-muted credit" align="center">&copy; 2014 - Sabiá v2.0 - Code 4Love (S2).</p>
	        </div>
	    </nav>
	</div>
  </body>
</html>
