{% extends "modelo_sabia.html" %}
{% load staticfiles %} 
<meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
{% block corpo %}
<!-- Corpo -->
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-8 col-lg-4">
        		<div id="lglogin" class="list-group">
					<a href="#" class="list-group-item active">Artigos</a>
					<div id="lilogin" class="list-group-item">
						{% if not user.is_authenticated %}
						{% if form.errors %}
			            	<p>Dados incorretos. Tente novamente</p>
			        	{% endif %}
			        	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                   		{% csrf_token %}
						<div class="row">
							<div class="col-xs-8 col-lg-4">
								{{ form.username.label_tag }}
							</div>
							<div class="col-xs-8 col-lg-8">
								{{ form.username }}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-8 col-lg-4">
								{{ form.password.label_tag }}
							</div>
							<div class="col-xs-8 col-lg-8">
								{{ form.password }}
							</div>
						</div>
						<input type="hidden" name="next" value="{{ next }}" />
						<div class="row">
							<div class="col-xs-8 col-lg-12">
							<button type="submit" class="btn btn-success">Entrar</button>
							</div>
						</div>
						{% endif %}
      					{% if user.is_authenticated %}
      						<div class="row">
								<div class="col-xs-8 col-lg-12">
									{{user.username}}, Você já está logado.
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8 col-lg-12">
									<a class="btn btn-success" href="/sabia/logout/">Sair</a>
								</div>
							</div>
						{% endif %}
					</div>
					<a class="list-group-item active"></a>
				</div>
        	</div>
			<div class="col-xs-8 col-lg-8">

				<center>
					<img border="0" src="{% static 'img/sabia.png' %}" />
				</center>
				<p>O sistema proposto é um ambiente cooperativo multiagentes
					que auxilia na tarefa de pesquisar artigos relevantes, realizar a
					leitura, destacar trechos importantes e anotar percepcões
					importantes, isto é, fazer o trabalho de fichamento de diversos
					artigos de pesquisa.</p>
				<p>
					<a href="/sabia/cadastro_usuario/" role="button"
						class="btn btn-primary btn-large">Cadastrar-se</a>
				</p>
			</div>
		</div>
	</div>

</div>

<!-- Fim Corpo -->
{% endblock %}
