{% include "header.html "%}
{% load staticfiles %}

    
    
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-3 col-lg-4" align="center">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcTa1zup2CmrAcqWpe29tto-pHdN6yeohUsghKJkscjMNz61-pdSCA" class="img-circle" width="150">
          <table class="table">
            <thead>
              <tr>
                <th>Diener Piske</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mestre em Inform&aacute;tica</td>
              </tr>
              <tr>
                <td>Lattes: Clique aqui</td>
              </tr>
            </tbody>
          </table>
          <p>Aqui outras informa&ccedil;&otilde;es do usu&aacute;rio...</p>
          <p style></p>
        </div>
        <div class="col-xs-4 col-lg-4">
          <h3></h3>
          <h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);">Meus Fichamentos</h3>
          <input type="text" class="form-control" placeholder="buscar...">
          <ul class="list-group">
            <li class="list-group-item">Artigo 1<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </li>
            <li class="list-group-item">Artigo 2<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </li>
            <li class="list-group-item">Artigo 3<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </li>
          </ul>
          <p></p>
        </div>
        <div class="col-xs-5 col-lg-4">
          <h3>Artigos</h3>
          <input type="text" class="form-control" placeholder="buscar...">
          <a class="btn btn-block btn-primary" href="#">Novo Artigo</a>
          <ul class="list-group">
            <li class="list-group-item">Artigo 1<a class="btn pull-right btn-default btn-xs"><i class="fa fa-edit"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Fichar</span></font></a>
            </li>
            <li class="list-group-item">Artigo 2<a class="btn pull-right btn-default btn-xs"><i class="fa fa-edit"></i><font face="FontAwesome"><span style="line-height: 14px;">&nbsp;Fichar</span></font></a>
            </li>
            <li class="list-group-item">Artigo 3<a class="btn pull-right btn-default btn-xs"><i class="fa fa-edit"></i><font face="FontAwesome"><span style="line-height: 14px;">&nbsp;Fichar</span></font></a>
            </li>
          </ul>
          <p></p>
        </div>
      </div>
    </div>
    
    
    
    
    
    

	
{% include "footer.html "%}


