{% include "header.html "%}
{% load staticfiles %}

    <script language=javascript>
    function buscarFichamento(e){
    	if (e.keyCode == 13) {
    		Dajaxice.SabiaApp.searchfichamentos(atualizaFichamentos,{'busca':document.getElementById('buscafichamentos').value});
    	}
    }
    
    function buscarArtigo(e){
    	if (e.keyCode == 13) {
    		Dajaxice.SabiaApp.searchartigos(atualizaArtigos,{'busca':document.getElementById('buscaartigos').value});
    	}
    }
    
    function atualizaFichamentos(data){
        if(data!=Dajaxice.EXCEPTION){
            document.getElementById('divfichamento').innerHTML = data.listgroup;
        }
        else{
            alert('Error');
        }
    }

    function atualizaArtigos(data){
        if(data!=Dajaxice.EXCEPTION){
            document.getElementById('divartigo').innerHTML = data.listgroup;
        }
        else{
            alert('Error');
        }
    }
    
    function removeFichamentos(){
    	do{
        	var element = document.getElementById("lifichamento");
        	element.parentNode.removeChild(element)
        }while(element != null){}
    }
    
    function removeArtigos(){
    	do{
        	var element = document.getElementById("liartigo");
        	element.parentNode.removeChild(element)
        }while(element != null){}
    }
    
    function atualizarArtigos(data){
    	document.getElementById("buscaartigos").value
    	alert("Artigos atualizados");
    }
    
    function atualizarFichamentos(data){
    	alert("Fichamentos atualizados");
    }
    
    </script>
    
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-3 col-lg-4" align="center">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcTa1zup2CmrAcqWpe29tto-pHdN6yeohUsghKJkscjMNz61-pdSCA" class="img-circle" width="150">
          <table class="table">
            <thead>
              <tr>
                <th>Diener Piske</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mestre em Inform&aacute;tica
				</td>
              </tr>
              <tr>
                <td>Lattes: <a>Clique aqui</a></td>
                
              </tr>
            </tbody>
          </table>
          <p>Aqui outras informa&ccedil;&otilde;es do usu&aacute;rio...</p>
          <p style></p>
        </div>
        <div class="col-xs-4 col-lg-4">
        <input id="buscafichamentos" type="text" class="form-control" placeholder="buscar..." onkeypress="buscarFichamento(event)">
        <div id="divfichamento">
          <div id="lgfichamento" class="list-group">
            <a href="#" class="list-group-item active">Meus Fichamentos:</a>
            {% for fic in fichamentos %}
            <div id="lifichamento" class="list-group-item">{{fic.titulo_fichamento}}<a class="btn pull-right btn-default btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            {% endfor %}
            <a class="list-group-item active"></a>
          </div>
          </div>
          
         
        </div>
        
        <div class="col-xs-5 col-lg-4">
        <input id="buscaartigos" type="text" class="form-control" placeholder="buscar..." onkeypress="buscarArtigo(event)">
        <div id="divartigo">
        
          <div id="lgartigo" class="list-group">
            <a href="#" class="list-group-item active">Artigos</a>
           {% for art in artigos %}
            <div id="liartigo" class="list-group-item">{{art.titulo_artigo}}<a class="btn pull-right btn-default btn-xs" href="/sabia/artigo/{{art.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            {% endfor %}
            <a class="list-group-item active"></a>
          </div>
          </div>
        </div>
    </div>
    
    
    
    
    
    

	
{% include "footer.html "%}


