{% include "header.html "%}
{% load staticfiles %}

<script language=javascript>
function mudatextoartigo(data){
	document.getElementById('artigocorpo').textContent  = data.texto;
}

function traduz_en_pt(e){
	Dajaxice.SabiaApp.traduzir(mudatextoartigo,{'texto':document.getElementById('artigocorpo').textContent , 'de' : 'pt', 'para' : 'en'});
}

</script>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-6 col-lg-6">
          <div class="panel-heading">
          <a class="btn pull-right btn-success btn-xs" onmousedown="traduz_en_pt()"><i class="fa fa-plus-circle">&nbsp;Traduzir</i></a><a></a><i class="fa fa-search"></i>
            <a class="btn pull-right btn-success btn-xs" href="/sabia/artigo/{{artigo.id}}/fichar/"><i class="fa fa-plus-circle"></i><font face="FontAwesome"><span style="line-height: 12px;">&nbsp;Fichar</span></font></a><a></a><i class="fa fa-search"></i> Título&nbsp;&nbsp;: {% if artigo %} {{artigo.titulo_artigo}} {% endif %}
          </div>
          <div style="height:400px;line-height:3em;overflow:auto;padding:5px;" id="artigocorpo" class="panel-body jumbotron" oncontextmenu="return mymenu(this)">{% if artigo %} {{artigo.texto_artigo}} {% endif %}</div>
          <div class="list-group">
            <a href="#" class="list-group-item active">Outros Artigos</a>
            {% for art in artigo.getArtSemelhantes %}
            <div class="list-group-item">{{art.titulo_artigo}}<a class="btn pull-right btn-default btn-xs" href="/sabia/artigo/{{art.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            {% endfor %}
            <a class="list-group-item active"></a>
          </div>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div class="panel-heading">
            <a class="btn pull-right btn-success btn-xs"><i class="fa fa-thumbs-o-up">&nbsp;</i>Gostei</a><i class="fa fa-search"></i> Título&nbsp;&nbsp;: {% if fichamento %} {{fichamento.titulo_fichamento}} {% endif %}
          </div>
          <div class="panel-body jumbotron">
            {% if fichamento %} {{fichamento.getResumo}} {% endif %}
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">Outros Fichamentos</a>
            {% for f in artigo.fichamento_set.all %}
            <div class="list-group-item">{{ f.titulo_fichamento }}<a class="btn pull-right btn-default btn-xs" href="/sabia/fichamento/{{ f.id }}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
			{% endfor %}
            <a class="list-group-item active"><span class="badge"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
	
{% include "footer.html "%}


