{% include "header.html "%}
{% load staticfiles %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-6 col-lg-6">
          <div class="panel-heading">
            <a class="btn pull-right btn-success btn-xs"><i class="fa fa-plus-circle">&nbsp;Marcar</i></a><a></a><i class="fa fa-search"></i> T&Atilde;&shy;tulo&nbsp;&nbsp;: {% if artigo %} {{artigo.titulo_artigo}} {% endif %}
          </div>
          <div class="panel-body">
            <p align="justify" style>{% if artigo %} {{artigo.texto_artigo}} {% endif %}</p>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">Outros Artigos</a>
            <div class="list-group-item">Artigo 1<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Artigo 1<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Artigo 1<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <a class="list-group-item active"><span class="badge">14</span>Help</a>
          </div>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div class="panel-heading">
            <a class="btn pull-right btn-success btn-xs"><i class="fa fa-thumbs-o-up">&nbsp;</i>Salvar</a><i class="fa fa-search"></i> T&Atilde;&shy;tulo&nbsp;&nbsp;: {% if artigo %} {{artigo.titulo_artigo}} {% endif %}
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">Marca&ccedil;&otilde;es:</a>
            <div class="list-group-item">Marcacao 1<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 2<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 3<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 2<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 3<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 2<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 3<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 2<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 3<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 2<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <div class="list-group-item">Marcacao 3<a class="btn pull-right btn-default btn-xs"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            <a class="list-group-item active"><span class="badge">14</span>Help</a>
          </div>
          <div class="form-group">
            <label class="control-label">Assunto</label>
            <div class="controls">
              <input type="text" class="form-control">
            </div>
            <label class="control-label">Conteudo</label>
            <textarea class="form-control"></textarea>
            <a class="btn btn-primary">Adicionar</a>
          </div>
          
      </div>
    </div>
    <!-- /container -->

		
	
{% include "footer.html "%}


