{% include "header.html "%}
{% load staticfiles %}

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-8 column">
				<div class="panel panel-default top-margin-low1" >
					<div class="panel-heading"><i class="fa fa-search"></i>  
						Texto&nbsp;&nbsp;: 
					</div>
					<div class="panel-body">
						<textarea name="tbxTextoSolicitacao" rows="3" id="tbxTextoSolicitacao" class="form-control" style="height:500px;width:100%;"></textarea> 
					</div>
				</div>
			</div>
			
			<div class="col-md-4 column">			
					<button class="btn btn-default btn-sm" role="button" href="#modal-container-297988" id="modal-297988" data-toggle="modal">
						<span class="glyphicon glyphicon-plus-sign"></span> Adicionar Questão
					</button>				
			</div>		
				
				<div class="modal fade" id="modal-container-297988" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title" id="myModalLabel">
									Questões de Fichamento
								</h4>
							</div>
							<div class="modal-body">
								<form role="form" method="POST" action="/salvar_questao/">	
									{% csrf_token %}								
									<input type="text" class="form-control" placeholder="Insira a questão..." name="formQuestao">	
									<div class="modal-footer">
										<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Fechar</button> 
										<button type="submit" class="btn btn-primary btn-sm">Salvar</button>											
									</div>
								</form>
							</div>
							
						</div>						
					</div>					
				</div>		
		</div>
	</div>
	
		
	
{% include "footer.html "%}


