{% include "header.html"%}
{% load staticfiles %}

<script language=javascript>
function clicar(){
	var elem = document.getElementById("linkid");
	if (typeof elem.onclick == "function") {
   	 elem.onclick.apply(elem);
	}
}

function nada(data){
	
}

function salvar_titulo_fichamento(){
	tit = document.getElementById("titulo_fichamento_salvar").value;
	if(tit != ""){
		Dajaxice.SabiaApp.salvartitulofichamento(nada,{'id_f':{{fichamento.id}}, 'titulo_f':tit});
	}
	
}

function selecionar_marcacao(id, titulo, texto){
	document.getElementById('marc_id').value=id;
	document.getElementById('marc_titulo').value=titulo;
	document.getElementById('marc_texto').value=texto;
}

function carregarmarcacoes(data){
	if(data!=Dajaxice.EXCEPTION){
        document.getElementById('divmarcacoes').innerHTML = data.listgroup;
    }
    else{
        alert('Ocorreu um erro! Favor atualizar a pagina. Obrigado ;)');
    }
	limpar_marcacao();
}



function limpar_marcacao(){
	document.getElementById('marc_id').value="";
	document.getElementById('marc_titulo').value="";
	document.getElementById('marc_texto').value="";
}


function remove_marcacao(){
	id = document.getElementById('marc_id').value;
	if(id != ""){
		Dajaxice.SabiaApp.removermarcacao(carregarmarcacoes,{'id':id});
	}
}

function salva_marcacao(){
	id = document.getElementById('marc_id').value;
	titulo = document.getElementById('marc_titulo').value;
	texto = document.getElementById('marc_texto').value;
	if(id=="" && (titulo != "")){
		Dajaxice.SabiaApp.criarmarcacao(carregarmarcacoes,{'id_fichamento':{{fichamento.id}}, 'titulo' : titulo, 'texto' : texto})
	}else{
		Dajaxice.SabiaApp.salvarmarcacao(carregarmarcacoes,{'id':id, 'titulo' : titulo, 'texto' : texto})
	}
}

function mudatextoartigo(data){
	document.getElementById('artigocorpo').textContent  = data.texto;
}

function traduz_en_pt(e){
	Dajaxice.SabiaApp.traduzir(mudatextoartigo,{'texto':document.getElementById('artigocorpo').textContent , 'de' : 'pt', 'para' : 'en'});
}

var xMousePosition = 0;
var yMousePosition = 0;
 
 
document.onmousemove = function(e){
  xMousePosition = e.clientX + window.pageXOffset - 100;
  yMousePosition = e.clientY + window.pageYOffset - 50;
};
 
 
function marcar(t){
var texto = document.getElementById("marc_texto");
texto.value += t;
}

function marcar(t,id){
	var texto = document.getElementById("marc_texto");
	if(id==""){
		limpar_marcacao();
		texto.value += t;
	} else {
		var btn = document.getElementById("btn_marc_"+id);
		if (typeof btn.onclick == "function") {
			btn.onclick.apply(btn);
		}
		texto.value += t;
		salva_marcacao();
	}
}

function doMarcar(){
	marcar(getMarcacao());
}
 
function mymenu(element){
var t = " \""+getMarcacao()+"\" ";
  var x = document.getElementById('ctxmenu1');
  if(x) x.parentNode.removeChild(x);
 
  var d = document.createElement('div');
  d.setAttribute('class', 'ctxmenu');
  d.setAttribute('id', 'ctxmenu1');
  element.parentNode.appendChild(d);
  d.style.left = xMousePosition + "px";
  d.style.top = yMousePosition + "px";
  d.onmouseover = function(e) { this.style.cursor = 'pointer'; }
  d.onclick = function(e) { element.parentNode.removeChild(d); }
  document.body.onclick = function(e) { element.parentNode.removeChild(d); }
 
  var p = document.createElement('p');
  d.appendChild(p);
  p.onclick=function() { marcar(t,"") };
  p.setAttribute('class', 'ctxline');
  p.innerHTML = "Novo";
  
  
  var divmarc = document.getElementById("divmarcacoes").children;
  for(var i = 0; i < divmarc.length; i++) {
	  var m = document.createElement('p');
	  m.id = divmarc[i].id;
	  d.appendChild(m);
	  m.onclick = function(e) { marcar(t, e.target.id) };
	  m.setAttribute('class', 'ctxline');
	  m.innerHTML = divmarc[i].textContent;
  }
  return false;
}

function getclick(a, b) {
	return (function(opt) { marcar(a, opt) }(b))
	}
	
function getMarcacao() {
    var text = "", containerElement = null;
    if (typeof window.getSelection != "undefined") {
        var sel = window.getSelection();
        if (sel.rangeCount) {
            var node = sel.getRangeAt(0).commonAncestorContainer;
            containerElement = node.nodeType == 1 ? node : node.parentNode;
            text = sel.toString();
        }
    } else if (typeof document.selection != "undefined" &&
               document.selection.type != "Control") {
        var textRange = document.selection.createRange();
        containerElement = textRange.parentElement();
        text = textRange.text;
    }
    if(containerElement.id == "artigocorpo"){
     return text;
    } else {
     return "";
    }

}
</script>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-6 col-lg-6">
          <div class="panel-heading jumbotron">
          <a class="btn pull-right btn-success btn-xs" onmousedown="traduz_en_pt()"><i class="fa fa-plus-circle">&nbsp;Traduzir</i></a><a></a><i class="fa fa-search"></i>
            <a class="btn pull-right btn-success btn-xs" onmousedown="doMarcar()"><i class="fa fa-plus-circle">&nbsp;Marcar</i></a><a></a><i class="fa fa-search"></i>Título&nbsp;&nbsp;: {% if artigo %} {{artigo.titulo_artigo}} {% endif %}
          </div>
          <div style="height:400px;line-height:3em;overflow:auto;padding:5px;" id="artigocorpo" class="panel-body jumbotron" oncontextmenu="return mymenu(this)">{% if artigo %} {{artigo.texto_artigo}} {% endif %}</div>
          <div class="list-group">
            <a href="#" class="list-group-item active">Outros Artigos</a>
            <div class="list-group">
            {% for art in artigo.getArtSemelhantes %}
            <div class="list-group-item">{{art.titulo_artigo}}<a class="btn pull-right btn-danger btn-xs" href="/sabia/artigo/{{art.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div class="panel-heading jumbotron">
            <a class="btn pull-right btn-success btn-xs" onclick="salvar_titulo_fichamento()"><i class="fa fa-thumbs-o-up">&nbsp;</i>Salvar</a><i class="fa fa-search"></i>
            <a class="btn pull-right btn-success btn-xs" href="/sabia/fichamento/{{fichamento.id}}/"><i class="fa fa-thumbs-o-up">&nbsp;</i>Visualizar</a><i class="fa fa-search"></i>
             Título&nbsp;&nbsp;: <input type="text" id="titulo_fichamento_salvar" class="form-control" value="{% if artigo %} {{fichamento.titulo_fichamento}} {% endif %}">
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">Marca&ccedil;&otilde;es:</a>
            <div id="divmarcacoes" class="list-group">
				{% for marcacao in fichamento.marcacao_set.all %}
					<div id="{{marcacao.id}}" class="list-group-item">{{marcacao.titulo_marcacao}}<a id="btn_marc_{{marcacao.id}}" class="btn pull-right btn-default btn-xs" onclick="selecionar_marcacao('{{marcacao.id}}','{{marcacao.titulo_marcacao}}','{{marcacao.texto_marcacao}}')"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
					</div>
				{% endfor %}
            </div>
          </div>
          <div class="form-group jumbotron">
            <input id="marc_id" type="hidden" id="idmarcacaosalvar" value="">
            <label class="control-label">Assunto</label>
            <div class="controls">
              <input id="marc_titulo" type="text" class="form-control">
            </div>
            <label class="control-label">Conteudo</label>
            <textarea id="marc_texto" class="form-control"></textarea>
            
            
            <a class="btn btn-primary" onclick="salva_marcacao()">Salvar</a>
            <a class="btn btn-primary" onclick="remove_marcacao()">Remover</a>
            <a class="btn btn-primary" onclick="limpar_marcacao()">Limpar</a>
          </div>
          
      </div>
    </div>
    <!-- /container -->



{% include "footer.html "%}